*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
*.zip
.kotlin/
scratch/
dataset/
dataset_precise/
temp_roboflow/
fotos_para_etiquetar/
*.tflite
!app/src/main/assets/*.tflite
.env
*.env
